

//COLORRES PRIMARIOS
$color_plomo: hsl(193, 38%, 86%);
$color_verdePastel: hsl(150, 100%, 66%);


//COLORES NEUTRALES
$color_verdePlomizo: hsl(217, 19%, 38%);
$color_black:hsl(218, 18%, 20%);
$color_black_claro: hsl(214, 18%, 25%);

